
.square-grid {
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    background-color: pink;
    padding: 30px;
    margin: 100px;
}

.square {
    background-color:white;
    padding: 20px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(179, 177, 177);
}