
.square-grid {
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: pink;
    padding: 30px;
    margin: 100px;
    width: 70vw;
    max-width: 70vw;
    height: auto;

}

.square {
    background-color:white;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    padding-top: 100%;
    max-height: 50px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(179, 177, 177);
}